/*------------main------------------------------------------------------------*/

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 0 100px 0;
}

.main__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 75px 0 100px 0;
}

.main__title {
  color: var(--text-color);
  display: flex;
  font-size: 67px;
  line-height: 64px;
  text-transform: uppercase;
  font-family: TT-Norms-Heavy;
  margin-bottom: 15px;
}

.main__text {
  color: var(--Light-text-color);
  max-width: 540px;
  display: flex;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.04em;
  font-family: TT-Norms-Regular;
}

.main__projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 5px;
  grid-auto-flow: dense;
}

.main__project {
  aspect-ratio: 1;
  /* background-color: black;*/
  position: relative;
}

.main__project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__hovering {
  display: block;
  background-color: black;
  color: rgb(219, 219, 219);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.86);
  padding: 45px;
  opacity: 0;
  transition: 0.3s ease 0s;
}

.main__hovering span {
  font-size: 40px;
  line-height: 38px;
  letter-spacing: -0.05em;
  font-family: TT-Norms-Regular;
  display: flex;
  max-width: 350px;
}

@media(max-width: 550px) {
  .main__projects {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

@media(max-width: 600px) {
  .main__hovering span {
    font-size: 30px;
  }
  .main__hovering{
    padding: 15px;
  }
}

@media(max-width: 550px) {
  .main__hovering span {
    font-size: 25px;
    max-width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .main__project:hover .main__hovering {
    opacity: 1;
    
  }
}

@media (hover: none) and (pointer: coarse) {
  .main__project .main__hovering {
    opacity: 1;
    background: rgba(18, 18, 18, 0.188);
  }
}